*{margin:0; padding:0;}

#wrap{
    display:flex;
    flex: 1;
    flex-direction: column;
    width:100%;
    margin-bottom: 2px;
}

.header{
   
    display:flex;
    flex:1;
    position:relative;
    width:100%;
}

.header nav{
    display:flex;
    width:100%;
    min-height:55px;
    background:whitesmoke;
    justify-content: space-between;
}

.nav div{
    flex-direction: row;
}

.buttons span{
   margin-right: 10px;
}

.container img{
    display: flex;
    justify-content: flex-left;
}